body {

	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/bd/7a/08/bd7a086aa2f4a3df298dc15b29419606.jpg");
	
}

.jumbotron {

     width: 45%;
     background-image: url("https://s-media-cache-ak0.pinimg.com/736x/bd/7a/08/bd7a086aa2f4a3df298dc15b29419606.jpg");
     position: relative;
     float:  right;
     right:  375px;
}

.text-center1 {
font-size: 65px;
color:  darkturquoise;
text-align: center

}

.text-center2 {

	color: crimson;
	font-size: 30px;
}

.random_num {
	background-color: darkgray;
	border: solid;
	border-color: navy;
	border-style: inset;
	border-width: 25px;
	padding: 25px;
	width: 20%;
	position: relative;
	top: 275px;
	left: 350px;
	color: darkviolet;
	text-align: center;
	padding-bottom: 80px;
}

.win_loss{
    position: relative;
	background-color: darkgray;
	border: solid;
	border-color: navy;
	border-style: inset;
	border-width: 25px;
	padding: 25px;
	width: 20%;
	float: right;
	color: darkviolet;
	text-align: center;
	padding-bottom: 80px;
	left: 200px;
	top:  85px;

}

.thescore {

	position: relative;
	background-color: darkgray;
	border: solid;
	border-color: navy;
	border-style: inset;
	border-width: 25px;
	padding: 25px;
	width: 20%;
	float: right;
	color: darkviolet;
	text-align: center;
	padding-bottom: 80px;
	left: 148px;
	top:  290px;


}

#blue{
	float: right;
	position: relative;
	left: 500px;
	top: 350px;
}

#green{
	float: right;
	position: relative;
	left: 700px;
	top: 350px;
}

#pink{
	float: right;
	position: relative;
	left: 690px;
	top: 350px;
}

#yellow{
	float: right;
	position: relative;
	left: 710px;
	top: 268px;
}